<div class="container">
    <h1 class="center">{{ title }}</h1>

    <div class="row">
        <div class="col m4" *ngFor="let pokemon of pokemonList">
            <div class="card horizontal" pkmnBorderCard>
                <div class="card-image">
                    <img class="image-responsive" [src]="pokemon.picture"/>
                </div>

                <div class="card-stacked">
                    <p>
                        <strong>Numéro : {{pokemon.id}}</strong><br>
                        <small>
                            Nom : {{pokemon.name}}<br>
                            Créé le : {{pokemon.created | date: 'dd/mm/yyyy'}}<br>
                            Type :<br>
                            <span *ngFor="let type of pokemon.types" class="{{type | pokemonTypeColor}}">{{type}}</span>
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<div>
    <ol>
        <li *ngFor="let pokemon of pokemonList"> Nom : {{pokemon.name}}<br>Créé le : {{pokemon.created | date: 'dd/MM/yyyy'}}<br>Type : {{pokemon.types}}</li>
    </ol>

    <form action="">
        <label>Taper un numéro d'identification de Pokémon : </label>
        <input
            #input
            (keyup.enter)="selectPokemon(input.value)"
            type="number"/>
    </form>

    <p *ngIf="pokemonSelected">Le pokémon sélectionné est : {{ pokemonSelected?.name }}</p>
    <p *ngIf="!pokemonSelected">Pas de pokémon pour cet index : {{ input.value }}</p>
</div>
-->