<header>
    <nav>
        <div class="new-wrapper teal">
            <a href="/">Accueil</a>
        </div>
    </nav>
</header>
<div class="container">
    <router-outlet></router-outlet>
</div>

<!--
<div>
    <ol>
        <li *ngFor="let pokemon of pokemonList"> Nom : {{pokemon.name}}<br>Créé le : {{pokemon.created | date: 'dd/MM/yyyy'}}<br>Type : {{pokemon.types}}</li>
    </ol>

    <form action="">
        <label>Taper un numéro d'identification de Pokémon : </label>
        <input
            #input
            (keyup.enter)="selectPokemon(input.value)"
            type="number"/>
    </form>

    <p *ngIf="pokemonSelected">Le pokémon sélectionné est : {{ pokemonSelected?.name }}</p>
    <p *ngIf="!pokemonSelected">Pas de pokémon pour cet index : {{ input.value }}</p>
</div>
-->