<div class="">
  <div class="card shadow mb-4">
    <div class="card-body">
      <table>
        <thead>
        <tr>
          <th> Liste des Produits</th>
        </tr>
        <tr>
          <td>Id</td>
          <td>Nom</td>
          <td>Tarif</td>
          <td>Catégorie</td>
          <td>Date de création</td>

        </tr>
        </thead>
        <tbody *ngFor="let product of products">
        <tr>
          <td>{{product.idProduct}}</td>
          <td>{{product.nameProduct}}</td>
          <td>{{product.priceProduct}}</td>
          <td>{{product.catProduct.nameCat}}</td>
          <td>{{product.dateCreated |date:"dd/MM/yyyy"}}</td>

          <td><a class="btn btn-success" [routerLink]="['/showProduct', product.idProduct]">Visualiser</a></td>
          <td><a class="btn btn-success" [routerLink]="['/updateProduct', product.idProduct]">Modifier</a></td>
          <td><a class="btn btn-danger" (click)="deleteProduct(product.idProduct)">Supprimer</a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
